tmp
build
dist
target
venv*
.venv*
.env
*~
MANIFEST
atest/results
utest/jasmine-results
.idea
.vscode
.*project
*.pyc
*$py.class
ext-lib
*.iml
.DS_Store
doc/api/_build
doc/libraries/*.html
doc/libraries/*.json
doc/userguide/RobotFrameworkUserGuide.html
src/robotframework.egg-info
log.html
output.xml
report.html
__pycache__
.classpath
.settings
.jython_cache
.mypy_cache/

# Ignore all files with the specified name.
# Scope is all repo folders.
config.json

# Ignore all files with the specified extension.
# Scope is all repo folders.
*.json

# Add an exception so as to not ignore a file with the specified name.
# Scope is all repo folders.
!package.json

# Ignore a file with the specified name.
# Scoped to the 'logs' subfolder.
/logs/test.logfile

# Ignore all files with the specified name.
# Scoped to the 'logs' subfolder and all folders beneath it.
/logs/**/test.logfile

# Ignore all files in the 'logs' subfolder.
/logs/